.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	height: 4rem;
	padding: 0.3rem;
	z-index: 99;
}
.logo-img {				
	width: 3.5rem;
}
.logo-text {
	font-size: 1.3rem;
	color: #999;
	display: inline-block;
	padding-left: 0.3rem;
	vertical-align: middle;
}
.ant-menu {
	border-bottom: none ;
	line-height: 3.5rem;
}
.ant-menu-item  {
	font-size: 1rem !important;
	padding-left: 1rem;
	padding-right: 1rem;
}
.icon-container{
	color: #999;
	font-size: 1.5rem;
	line-height: 3rem;
	z-index: 9999;
}