.top{
	text-align: center;
}
.ant-input.inputText {
	width: 300px;
	margin: 20px;
}
.list {
	display: flex;
	justify-content: center;
}
.ant-list {
	width: 500px;
}
.delete {
	color: rgb(194, 93, 93);
	cursor: pointer;
	font-size: 20px;
	margin-left: 10px;
}
.ant-modal-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
}
.inputContainer {
	text-align: center;
	width: 300px;
}
.cardstyle.ant-card{
	width: 300px;
	margin: 0 auto
}
.richTextContainer{
	width:75%;
	height: 500px;
	margin: 0 auto;
}
.richTextContainer .rdw-editor-main{
	height: 500px;
}